@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin basePadding {
	@apply px-5;
	@screen md {
		@apply px-10;
	}
	@screen xl {
		@apply px-32;
	}
}

* {
	font-family: 'Satoshi', sans-serif !important;
	scroll-padding-block: 7.5rem;
}

body {
	@apply overflow-x-hidden;
}

.hide-scrollbar::-webkit-scrollbar {
	@apply hidden;
}
.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

// banner grid
.banner_grid {
	@include basePadding();
	@apply grid gap-8;
	grid-template-columns: repeat(auto-fill, 1fr);
	grid-auto-rows: 250px;

	@screen xl {
		grid-auto-rows: 35vh;
	}

	.banner_card {
		@apply p-8 rounded-2xl;
		&:nth-of-type(1) {
			@apply p-0;
			grid-column: 1;
			grid-row: 1/3;
			@screen md {
				grid-column: 1/3;
				grid-row: 1/3;
			}
			@screen xl {
				grid-row: 1/3;
				grid-column: 1/4;
			}
		}
		&:nth-of-type(2) {
			grid-column: 1;
			grid-row: 3/5;
			@screen md {
				grid-column: 1;
				grid-row: 3/5;
			}
			@screen xl {
				grid-column: 1;
				grid-row: 3/5;
			}
		}
		&:nth-of-type(3) {
			grid-column: 1;
			grid-row: 5;
			@screen md {
				grid-column: 2;
				grid-row: 3;
			}
			@screen xl {
				grid-column: 2;
				grid-row: 3;
			}
		}
		&:nth-of-type(4) {
			grid-column: 1;
			grid-row: 6;
			@screen md {
				grid-column: 2;
				grid-row: 4;
			}
			@screen xl {
				grid-column: 2;
				grid-row: 4;
			}
		}
		&:nth-of-type(5) {
			grid-column: 1;
			grid-row: 6/8;
			@screen md {
				grid-column: 1/3;
				grid-row: 5;
			}
			@screen xl {
				grid-column: 3;
				grid-row: 3/5;
			}
		}
	}
}

.landing_grid__3 {
	@include basePadding();
	@apply grid gap-x-8 gap-y-16;
	grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
	grid-auto-rows: 350px;
}
.landing_grid__3 section {
	@apply rounded-xl border-2 border-[#efefef];
}
.landing_grid__4 {
	@apply grid max-w-screen-xl mx-auto;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: 200px;
}

.number__grid {
	@apply grid w-full justify-items-center gap-y-16;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	@screen xl {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}

.base-grid {
	@apply grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.products__base {
	@apply grid;
	@screen lg {
		grid-template-columns: 300px auto;
	}
}

.products__grid {
	@apply grid gap-x-8 gap-y-5;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: 400px;
}

.products__grid section {
	@apply border-2 rounded-2xl;
}

.why_us {
	@include basePadding();
	& section {
		@apply p-10;
	}
}

.p_base {
	@include basePadding();
}

.about_footer_grid {
	@apply grid gap-8 text-center md:text-left md:gap-0 max-w-screen-xl mx-auto pt-24 pb-20 px-5 md:px-0;
	@screen md {
		@apply flex justify-evenly;
	}
	@screen xl {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}

	h2 {
		@apply text-3xl font-extrabold text-[#bf9f7f] bg-white inline-block sm:px-3.5;
	}

	.about_footer_section {
		@apply sm:px-3.5 text-lg grid gap-y-2.5 mt-5 sm:gap-y-5 sm:mt-10 text-gray-400;
	}
}

.last_brands_grid {
	@apply grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	@screen sm {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}
