@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply overflow-x-hidden;
}
.hide-scrollbar::-webkit-scrollbar {
	@apply hidden;
}
.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.landing_grid__2 {
	@apply grid gap-8;
	grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
	grid-auto-rows: 250px;
}
.landing_grid__2 section {
	@apply p-6 rounded-2xl;
}
.landing_grid__3 {
	@apply grid gap-x-8 gap-y-16 justify-center;
	grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
	grid-auto-rows: 350px;
}
.landing_grid__3 section {
	@apply rounded-xl border-2;
}
.landing_grid__4 {
	@apply grid gap-16 max-w-screen-2xl mx-auto;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: 200px;
}
